    /* table, th, td { 
        border: 1px solid black;
        border-collapse: collapse;
        background-color: white;
        width: 725px} */

    /* h2 { color:rgb(41, 41, 167); font-style: italic;} */

    
    /* body {
        background-color:rgb(255, 252, 240);
        margin-left: 25px;
    } */

    /* .employeername {
        font-weight: bold;
        font-family:Arial, Helvetica, sans-serif;
        font-variant: small-caps;}

    .worktitle {
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;}

    .spacer { 
        padding-left: 20px;
        padding-right: 20px;
    }

    .phone {
        font-weight: bold;
        font-style: italic;
    } */